.quickView {

    display: none;
    margin: 0 2%;
    position: fixed;
    z-index: 2;

    height: calc(100vh-60px);
    top: 60px;

    background-color: #111;
    border-radius: 10px;
    overflow-y: scroll;

    &.open {

        display: block;
    }

    &__banner {

        padding-top: 50vh;

        height: 50vh;
    }

    &__content {

        padding: 3rem;

        font-size: 1.2rem;
    }

    &__close {

        position: absolute;
        top: 10px;
        right: 10px;

        background-color: none;
        color: #fff;
    }

}